* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.hero {
    background-color: #1f2937;
    height: 350px;
    border: 1px purple solid;
}

.header-nav {
    border: 1px red dashed;
    display: inline;
    width: 50%;

}

.header-logo {
    width: 50%;
    color: #F9FAF8;
    font-size: 24px;
}

.hero-banner {
    display: flex;
    height: 20vh;
    width: auto;
    margin: 3vh 10vw 0 10vw;
}

.hero-content {
    border: 1px red solid;
    width: 50%;

}
.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
}

.hero-sub-text {
    color: #E5E7EB;
    font-size: 18px;
}
.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    background-color: #9a9a9a;

}
.section-two {
    background-color: #444;
    border: 1px greenyellow solid;
    height: 350px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.product-wrapper {
    border: 1px red solid;
    padding: 20px;
    text-align: center;
}

.product-text {
    padding: 20px;
}
.product-content {
    border: 1px yellowgreen solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 10vw 0 10vw

}
.product-box {
    border: 4px #3882f6 solid;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.box-text {
    border: 1px red dashed;
    display: flex;
    width: 150px;
}
.section-three {
    height: 350px;
    background-color: #E5E7EB;
}

.call-to-action{
    background-color: #3882f6;
}

.action-block {
    text-align: center;
}
.sign-up {
    background-color: #3882f6;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
button {
    display: inline-block;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: 15px 15px 15px 15px;

}

button:hover {
    background-color: #0f131a;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f131a;
    height: 50px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}